################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend
bin/
obj/
Backend/Web/sqlite.db
Backend/Web/sqlite.db-shm
Backend/Web/sqlite.db-wal